jde-system-api/src/main/resources/jde-webservice/AccountsReceivableManagerTCC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6.--><xsd:schema targetNamespace="http://tcc.e1.bssv.JP550300/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://tcc.e1.bssv.JP550300/">
  <xsd:complexType name="creditCheckReply">
    <xsd:complexContent>
      <xsd:extension base="ns0:messageValueObject">
        <xsd:sequence>
          <xsd:element name="accountCreditBalance" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="accountPurchaseOnCredit" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="accountTotalCredit" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="customerIdTCC" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="valueObject"/>
  <xsd:complexType name="messageValueObject">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="e1MessageList" type="ns0:e1MessageList" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessServiceException">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="requestID" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="creditCheckRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="customerIdTCC" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="e1MessageList">
    <xsd:sequence>
      <xsd:element name="e1Messages" type="ns0:e1Message" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="e1Message">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="messagePrefix" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BusinessServiceException" type="ns0:BusinessServiceException"/>
  <xsd:element name="doCreditCheckResponse" type="ns0:creditCheckReply" nillable="true"/>
  <xsd:element name="doCreditCheck" type="ns0:creditCheckRequest" nillable="true"/>
</xsd:schema>