jde-system-api/src/main/resources/jde-webservice/CustomerManagerTCC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6.--><xsd:schema targetNamespace="http://tcc.e1.bssv.JP550100/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://tcc.e1.bssv.JP550100/">
  <xsd:complexType name="customerReply">
    <xsd:complexContent>
      <xsd:extension base="ns0:messageValueObject">
        <xsd:sequence>
          <xsd:element name="addressNumber" type="xsd:int" minOccurs="0"/>
          <xsd:element name="customerIdTCC" type="xsd:string" minOccurs="0"/>
          <xsd:element name="errorFlag" type="xsd:string" minOccurs="0"/>
          <xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="valueObject"/>
  <xsd:complexType name="messageValueObject">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="e1MessageList" type="ns0:e1MessageList" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessServiceException">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="requestID" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="address">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="addressLine1" type="xsd:string" minOccurs="0"/>
          <xsd:element name="addressLine2" type="xsd:string" minOccurs="0"/>
          <xsd:element name="city" type="xsd:string" minOccurs="0"/>
          <xsd:element name="country" type="xsd:string" minOccurs="0"/>
          <xsd:element name="doNotMail" type="xsd:string" minOccurs="0"/>
          <xsd:element name="state" type="xsd:string" minOccurs="0"/>
          <xsd:element name="zipCode" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="e1MessageList">
    <xsd:sequence>
      <xsd:element name="e1Messages" type="ns0:e1Message" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="e1Message">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="messagePrefix" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="emailDetails">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="doNotEmail" type="xsd:string" minOccurs="0"/>
          <xsd:element name="emailAddress" type="xsd:string" minOccurs="0"/>
          <xsd:element name="emailType" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="businessDetails">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="authorizedUsers" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
          <xsd:element name="businessName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="taxExemptNumber" type="xsd:string" minOccurs="0"/>
          <xsd:element name="userName" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="verizonDetails">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="verizonAccountNumber" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="phoneDetails">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="doNotCall" type="xsd:string" minOccurs="0"/>
          <xsd:element name="doNotText" type="xsd:string" minOccurs="0"/>
          <xsd:element name="phoneNumber" type="xsd:string" minOccurs="0"/>
          <xsd:element name="phoneType" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="customerRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="accountNumberTCC" type="xsd:string" minOccurs="0"/>
          <xsd:element name="businessInfo" type="ns0:businessDetails" minOccurs="0"/>
          <xsd:element name="customerEmails" type="ns0:emailDetails" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
          <xsd:element name="customerIdTCC" type="xsd:string" minOccurs="0"/>
          <xsd:element name="customerPhones" type="ns0:phoneDetails" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
          <xsd:element name="customerType" type="xsd:string" minOccurs="0"/>
          <xsd:element name="dateOfBirth" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="employeeId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="employerName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="homeAddress" type="ns0:address" minOccurs="0"/>
          <xsd:element name="jobTitle" type="xsd:string" minOccurs="0"/>
          <xsd:element name="lastActivityDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="lastPurchaseDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="login" type="xsd:string" minOccurs="0"/>
          <xsd:element name="notes" type="xsd:string" minOccurs="0"/>
          <xsd:element name="registrationDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="shipAddress" type="ns0:address" minOccurs="0"/>
          <xsd:element name="storeId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="verizonInfo" type="ns0:verizonDetails" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessServiceException" type="ns0:BusinessServiceException"/>
  <xsd:element name="addOrUpdateCustomerResponse" type="ns0:customerReply" nillable="true"/>
  <xsd:element name="addOrUpdateCustomer" type="ns0:customerRequest" nillable="true"/>
</xsd:schema>