jde-system-api/src/main/resources/jde-webservice/SalesOrderManagerTCC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6.--><xsd:schema targetNamespace="http://tcc.e1.bssv.JP554200/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://tcc.e1.bssv.JP554200/">
  <xsd:complexType name="commerceItemInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="commerceLineItemId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="fulfillmentDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="itemStatus" type="xsd:string" minOccurs="0"/>
          <xsd:element name="quantity" type="xsd:string" minOccurs="0"/>
          <xsd:element name="serialNumber" type="xsd:string" minOccurs="0"/>
          <xsd:element name="skuId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="agentInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="agentId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="commissonableAgentId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="e1Message">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="messagePrefix" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getSalesOrderHistoryReply">
    <xsd:complexContent>
      <xsd:extension base="ns0:messageValueObject">
        <xsd:sequence>
          <xsd:element name="customerNumber" type="xsd:string" minOccurs="0"/>
          <xsd:element name="soHistoryDetail" type="ns0:getSalesOrderHistoryDetail" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="customerInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="tccCustomerId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="paymentGroups">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="paymentInfo" type="ns0:paymentInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="commerceItem">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="commerceItemInfo" type="ns0:commerceItemInfo" minOccurs="0"/>
          <xsd:element name="itemPriceInfo" type="ns0:itemPriceInfo" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="valueObject"/>
  <xsd:complexType name="BusinessServiceException">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="requestID" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="miscInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="CCRSCommissionCalculated" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="defaultTaxRateUsed" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="physicalStoreInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="commissionableStoreInfo" type="ns0:commissionableStoreInfo" minOccurs="0"/>
          <xsd:element name="physicalStoreId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="commerceItems">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="commerceItem" type="ns0:commerceItem" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="orderOptions">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="jdeSOVersion" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="orderPriceInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getSalesOrderHistoryDetail">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="agendId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="agentName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="amountExtendedPriceJDE" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="branchPlantJDE" type="xsd:string" minOccurs="0"/>
          <xsd:element name="commissionableAgentId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="commissionableAgentName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="companyNumberJDE" type="xsd:string" minOccurs="0"/>
          <xsd:element name="completedDate" type="xsd:string" minOccurs="0"/>
          <xsd:element name="createdByOrderId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="dateRequestedJDE" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="dateTransactionJDE" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="descriptionItemJDE" type="xsd:string" minOccurs="0"/>
          <xsd:element name="id" type="xsd:string" minOccurs="0"/>
          <xsd:element name="itemNumberJDE" type="xsd:int" minOccurs="0"/>
          <xsd:element name="lineNumberJDE" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="orderNumberJDE" type="xsd:int" minOccurs="0"/>
          <xsd:element name="orderPriceInfoTotal" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="orderTypeJDE" type="xsd:string" minOccurs="0"/>
          <xsd:element name="productNumberJDE" type="xsd:string" minOccurs="0"/>
          <xsd:element name="shipToAddressNumberJDE" type="xsd:int" minOccurs="0"/>
          <xsd:element name="soldToAddressNumberJDE" type="xsd:int" minOccurs="0"/>
          <xsd:element name="specialInstructions" type="xsd:string" minOccurs="0"/>
          <xsd:element name="storeId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="storeName" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="createOrderRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="commerceItems" type="ns0:commerceItems" minOccurs="0"/>
          <xsd:element name="options" type="ns0:orderOptions" minOccurs="0"/>
          <xsd:element name="orderHeader" type="ns0:orderHeader" minOccurs="0"/>
          <xsd:element name="paymentGroups" type="ns0:paymentGroups" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="orderHeader">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="agentInfo" type="ns0:agentInfo" minOccurs="0"/>
          <xsd:element name="customerInfo" type="ns0:customerInfo" minOccurs="0"/>
          <xsd:element name="miscInfo" type="ns0:miscInfo" minOccurs="0"/>
          <xsd:element name="orderInfo" type="ns0:orderInfo" minOccurs="0"/>
          <xsd:element name="orderPriceInfo" type="ns0:orderPriceInfo" minOccurs="0"/>
          <xsd:element name="storeInfo" type="ns0:storeInfo" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getSalesOrderHistoryRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="customerNumber" type="xsd:string" minOccurs="0"/>
          <xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="startDate" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="itemPriceInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="itemPrice" type="ns0:itemPrice" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="messageValueObject">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="e1MessageList" type="ns0:e1MessageList" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="e1MessageList">
    <xsd:sequence>
      <xsd:element name="e1Messages" type="ns0:e1Message" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="orderInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="orderDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="orderId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="originalOrderDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="originalOrderId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="commissionableStoreInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="commissionableStoreId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="itemPrice">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="authCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="itemCost" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="itemPrice" type="xsd:decimal" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="storeInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="physicalStoreInfo" type="ns0:physicalStoreInfo" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="paymentInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:valueObject">
        <xsd:sequence>
          <xsd:element name="typeCreditCard" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="createOrderReply">
    <xsd:complexContent>
      <xsd:extension base="ns0:messageValueObject">
        <xsd:sequence>
          <xsd:element name="orderCompany" type="xsd:string" minOccurs="0"/>
          <xsd:element name="orderNumber" type="xsd:int" minOccurs="0"/>
          <xsd:element name="orderNumberTCC" type="xsd:string" minOccurs="0"/>
          <xsd:element name="orderType" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="getSalesOrderHistory" type="ns0:getSalesOrderHistoryRequest" nillable="true"/>
  <xsd:element name="BusinessServiceException" type="ns0:BusinessServiceException"/>
  <xsd:element name="createSalesOrder" type="ns0:createOrderRequest" nillable="true"/>
  <xsd:element name="getSalesOrderHistoryResponse" type="ns0:getSalesOrderHistoryReply" nillable="true"/>
  <xsd:element name="createSalesOrderResponse" type="ns0:createOrderReply" nillable="true"/>
</xsd:schema>