jde-system-api/src/main/resources/jde-webservice/SalesOrderManagerTCC_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6.--><!--Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6.--><definitions targetNamespace="http://tcc.e1.bssv.JP554200/" name="SalesOrderManagerTCCService" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tcc.e1.bssv.JP554200/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:UsingPolicy wssutil:Required="true"/>
  <wsp1_2:Policy wssutil:Id="bssvpolicy">
    <ns1:TransportBinding xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp1_2:Policy>
        <ns1:TransportToken>
          <wsp1_2:Policy>
            <ns1:HttpsToken/>
          </wsp1_2:Policy>
        </ns1:TransportToken>
        <ns1:AlgorithmSuite>
          <wsp1_2:Policy>
            <ns1:Basic256/>
          </wsp1_2:Policy>
        </ns1:AlgorithmSuite>
        <ns1:Layout>
          <wsp1_2:Policy>
            <ns1:Lax/>
          </wsp1_2:Policy>
        </ns1:Layout>
      </wsp1_2:Policy>
    </ns1:TransportBinding>
    <ns2:SupportingTokens xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp1_2:Policy>
        <ns2:UsernameToken ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
          <wsp1_2:Policy>
            <ns2:WssUsernameToken10/>
          </wsp1_2:Policy>
        </ns2:UsernameToken>
      </wsp1_2:Policy>
    </ns2:SupportingTokens>
  </wsp1_2:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://tcc.e1.bssv.JP554200/" schemaLocation="SalesOrderManagerTCC.xsd"/>
    </xsd:schema>
  </types>
  <message name="createSalesOrder">
    <part name="createSalesOrder" element="tns:createSalesOrder"/>
  </message>
  <message name="createSalesOrderResponse">
    <part name="createSalesOrderResponse" element="tns:createSalesOrderResponse"/>
  </message>
  <message name="BusinessServiceException">
    <part name="fault" element="tns:BusinessServiceException"/>
  </message>
  <message name="getSalesOrderHistory">
    <part name="getSalesOrderHistory" element="tns:getSalesOrderHistory"/>
  </message>
  <message name="getSalesOrderHistoryResponse">
    <part name="getSalesOrderHistoryResponse" element="tns:getSalesOrderHistoryResponse"/>
  </message>
  <portType name="SalesOrderManagerTCC">
    <operation name="createSalesOrder">
      <input wsam:Action="http://tcc.e1.bssv.JP554200/SalesOrderManagerTCC/createSalesOrderRequest" message="tns:createSalesOrder"/>
      <output wsam:Action="http://tcc.e1.bssv.JP554200/SalesOrderManagerTCC/createSalesOrderResponse" message="tns:createSalesOrderResponse"/>
      <fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://tcc.e1.bssv.JP554200/SalesOrderManagerTCC/createSalesOrder/Fault/BusinessServiceException"/>
    </operation>
    <operation name="getSalesOrderHistory">
      <input wsam:Action="http://tcc.e1.bssv.JP554200/SalesOrderManagerTCC/getSalesOrderHistoryRequest" message="tns:getSalesOrderHistory"/>
      <output wsam:Action="http://tcc.e1.bssv.JP554200/SalesOrderManagerTCC/getSalesOrderHistoryResponse" message="tns:getSalesOrderHistoryResponse"/>
      <fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://tcc.e1.bssv.JP554200/SalesOrderManagerTCC/getSalesOrderHistory/Fault/BusinessServiceException"/>
    </operation>
  </portType>
  <binding name="SalesOrderManagerTCCPortBinding" type="tns:SalesOrderManagerTCC">
    <wsp:PolicyReference URI="#bssvpolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createSalesOrder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessServiceException">
        <soap:fault name="BusinessServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSalesOrderHistory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessServiceException">
        <soap:fault name="BusinessServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SalesOrderManagerTCCService">
    <port name="SalesOrderManagerTCCPort" binding="tns:SalesOrderManagerTCCPortBinding">
      <soap:address location="https://10.206.14.90:7793/PY920/SalesOrderManagerTCC"/>
    </port>
  </service>
</definitions>