api-oic/src/main/resources/oic-webservice/TransactionService_1_2_3_4_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/incentiveCompensation/cn/transactionProcessing/transactionManagement/publicService/types/" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:ns1="http://xmlns.oracle.com/apps/incentiveCompensation/cn/transactionProcessing/transactionManagement/publicService/" xmlns:tns="http://xmlns.oracle.com/apps/incentiveCompensation/cn/transactionProcessing/transactionManagement/publicService/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="TransactionService_1_2_3_4_5_6.xsd"/>
  <import namespace="http://xmlns.oracle.com/apps/incentiveCompensation/cn/transactionProcessing/transactionManagement/publicService/" schemaLocation="TransactionService_1_2_3_4_5_6_7_8.xsd"/>
  <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="TransactionService_1_2_3_4_5_6_7_8_9.xsd"/>
  <element name="holdTransaction">
    <complexType>
      <sequence>
        <element name="sourceTrxNumber" type="string"/>
        <element name="transactionType" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="holdTransactionResponse">
    <complexType>
      <sequence>
        <element name="result" type="boolean"/>
      </sequence>
    </complexType>
  </element>
  <element name="holdTransactionAsync">
    <complexType>
      <sequence>
        <element name="sourceTrxNumber" type="string"/>
        <element name="transactionType" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="holdTransactionAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="boolean"/>
      </sequence>
    </complexType>
  </element>
  <element name="getIncentiveTransactionStaging">
    <complexType>
      <sequence>
        <element name="creditedParticipantId" type="long"/>
        <element name="sourceTrxNumber" type="string"/>
        <element name="transactionType" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="getIncentiveTransactionStagingResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="createIncentiveTransactionStaging">
    <complexType>
      <sequence>
        <element name="incentiveTransactionStaging" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="createIncentiveTransactionStagingResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateIncentiveTransactionStaging">
    <complexType>
      <sequence>
        <element name="incentiveTransactionStaging" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateIncentiveTransactionStagingResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteIncentiveTransactionStaging">
    <complexType>
      <sequence>
        <element name="incentiveTransactionStaging" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteIncentiveTransactionStagingResponse">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="mergeIncentiveTransactionStaging">
    <complexType>
      <sequence>
        <element name="incentiveTransactionStaging" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="mergeIncentiveTransactionStagingResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="findIncentiveTransactionStaging">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria"/>
        <element name="findControl" type="ns0:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findIncentiveTransactionStagingResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="processIncentiveTransactionStaging">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string"/>
        <element maxOccurs="unbounded" minOccurs="0" name="incentiveTransactionStaging" type="ns1:TransactionStaging"/>
        <element name="processControl" type="ns0:ProcessControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="processIncentiveTransactionStagingResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="processCSIncentiveTransactionStaging">
    <complexType>
      <sequence>
        <element name="processData" type="ns0:ProcessData"/>
        <element name="processControl" type="ns0:ProcessControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="processCSIncentiveTransactionStagingResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ProcessData"/>
      </sequence>
    </complexType>
  </element>
  <element name="mergeIncentiveTransactionStagingAsync">
    <complexType>
      <sequence>
        <element name="incentiveTransactionStaging" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="mergeIncentiveTransactionStagingAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="processIncentiveTransactionStagingAsync">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string"/>
        <element maxOccurs="unbounded" minOccurs="0" name="incentiveTransactionStaging" type="ns1:TransactionStaging"/>
        <element name="processControl" type="ns0:ProcessControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="processIncentiveTransactionStagingAsyncResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="createIncentiveTransactionStagingAsync">
    <complexType>
      <sequence>
        <element name="incentiveTransactionStaging" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="createIncentiveTransactionStagingAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="getIncentiveTransactionStagingAsync">
    <complexType>
      <sequence>
        <element name="creditedParticipantId" type="long"/>
        <element name="sourceTrxNumber" type="string"/>
        <element name="transactionType" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="getIncentiveTransactionStagingAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="processCSIncentiveTransactionStagingAsync">
    <complexType>
      <sequence>
        <element name="processData" type="ns0:ProcessData"/>
        <element name="processControl" type="ns0:ProcessControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="processCSIncentiveTransactionStagingAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ProcessData"/>
      </sequence>
    </complexType>
  </element>
  <element name="findIncentiveTransactionStagingAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria"/>
        <element name="findControl" type="ns0:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findIncentiveTransactionStagingAsyncResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateIncentiveTransactionStagingAsync">
    <complexType>
      <sequence>
        <element name="incentiveTransactionStaging" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateIncentiveTransactionStagingAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteIncentiveTransactionStagingAsync">
    <complexType>
      <sequence>
        <element name="incentiveTransactionStaging" type="ns1:TransactionStaging"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteIncentiveTransactionStagingAsyncResponse">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="getDfltObjAttrHints">
    <complexType>
      <sequence>
        <element name="viewName" type="string"/>
        <element name="localeName" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ObjAttrHints"/>
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTime">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:dateTime-Timestamp"/>
      </sequence>
    </complexType>
  </element>
  <element name="getEntityList">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="getEntityListResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:ServiceViewInfo"/>
      </sequence>
    </complexType>
  </element>
  <element name="getEntityListAsync">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="getEntityListAsyncResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:ServiceViewInfo"/>
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsync">
    <complexType>
      <sequence>
        <element name="viewName" type="string"/>
        <element name="localeName" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ObjAttrHints"/>
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsync">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:dateTime-Timestamp"/>
      </sequence>
    </complexType>
  </element>
</schema>